<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.bmobfirst" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="HJJ云记事"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".LoginActivity"
            android:label="HJJ云记事" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:label="新用户注册" >
        </activity>
        <!--<activity-->
            <!--android:name=".ShowDisplay"-->
            <!--android:label="@string/title_activity_show_display" >-->
        <!--</activity>-->
        <activity
            android:name=".NoteListActivity"
            android:label="云记事列表" >
        </activity>
        <activity
            android:name=".NoteDetailActivity"
            android:label="编辑中..." >
        </activity>
        <activity
            android:name=".NewNote"
            android:label="新建记事" >
        </activity>
        <activity
            android:name=".ChangePassword"
            android:label="密码重置" >
        </activity>
    </application>

</manifest>
